
body{
    margin: auto;
    width: 80vw;
    font-family: "Montserrat";
    
}


div img {
    width: 20%;
}

.img {
    display: flex;
    padding: 5px;
  }

  @media screen and (min-width: 640px) {
    body{
        width: 640px;
    }
  }

  .text{
    text-align: center;
  }